

/* Navigation */
.topnav {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.topnav a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.topnav a:hover {
  background-color: #555;
}

/* Page Title */
.center {
  text-align: center;
  margin: 50px 0;
}

.center h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

/* Image Container */
.imageContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

/* Image */
.image {
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Point List Container */
.pointlistContainer {
  max-width: 800px;
  margin: 0 auto;
}

/* Point List */
.pointlist {
  list-style: none;
  padding: 0;
}

/* Point List Item */
.pointlist li {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

/* Point List Item Hover Effect */
.pointlist li:hover {
  transform: translateY(-5px);
}

/* Point List Item Before Pseudo Element */
.pointlist li::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ff6600, #ff0033);
  z-index: -1;
  transform: scale(0);
  transition: transform 0.4s ease;
}

/* Point List Item Hover Effect Before Pseudo Element */
.pointlist li:hover::before {
  transform: scale(1);
}

/* Point List Link */
.pointlist li a {
  color: #a74242;
  text-decoration: none;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
  transition: color 0.3s ease;
}

/* Point List Link Hover Effect */
.pointlist li a:hover {
  color: #e91e63;
}

/* Point List Paragraph */
.pointlist li p {
  margin: 0;
  color: #555;
}
